In [1]:
import pypyodbc as odbc
import pandas as pd

In [6]:
odbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'ODBC Driver 17 for SQL Server']

In [14]:
DRIVER_NAME="SQL Server"
SERVER_NAME="."
DATABASE_NAME="TEST"

conn_str = "DRIVER="+DRIVER_NAME+";SERVER="+SERVER_NAME+";DATABASE="+DATABASE_NAME+";Trusted_Connection=yes;"

print(conn_str)

DRIVER=SQL Server;SERVER=.;DATABASE=TEST;Trusted_Connection=yes;

In [15]:
conn= odbc.connect(conn_str)
cursor = conn.cursor()

In [16]:
cursor.execute("CREATE TABLE aa (deneme bigint)")

In [14]:
finaldata = pd.read_csv("~/Documents/GitHub/KOU-Multithreading-YazLab2/src/data_set/finalData.csv")
finaldata.head()

,Unnamed: 0,Product,Issue,Company,State,ZIP code,Complaint ID
0,0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,3,Credit reporting credit repair services or oth...,Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,4,Checking or savings account,Managing an account,ALLY FINANCIAL INC,AZ,85205,3238460

In [57]:
Listcolumns = data.columns.tolist()
Listcolumns.pop(0)
print(Listcolumns)
Tablecolumns = ' varchar(MAX), '.join(Listcolumns)
Tablecolumns=Tablecolumns+" varchar(MAX)"
print(Tablecolumns)

['Product', 'Issue', 'Company', 'State', 'ZIP code', 'Complaint ID']
Product varchar(MAX), Issue varchar(MAX), Company varchar(MAX), State varchar(MAX), ZIP code varchar(MAX), Complaint ID varchar(MAX)

In [59]:
sql_Create = "CREATE TABLE Data ({0})".format(Tablecolumns)
print(sql_Create)

CREATE TABLE Data (Product varchar(MAX), Issue varchar(MAX), Company varchar(MAX), State varchar(MAX), ZIP code varchar(MAX), Complaint ID varchar(MAX))