In [3]:
import pandas as pd

In [111]:
data= pd.read_csv("~/Documents/GitHub/KOU-Multithreading-YazLab2/src/data_set/originalData.csv")
data.head()

C:\Users\zerha\AppData\Local\Temp\ipykernel_11360\4063515088.py:1: DtypeWarning: Columns (4,5,6,11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv("~/Documents/GitHub/KOU-Multithreading-YazLab2/src/data_set/originalData.csv")

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,05/10/2019,Checking or savings account,Checking account,Managing an account,Problem using a debit or ATM card,NaN,NaN,NAVY FEDERAL CREDIT UNION,FL,328XX,Older American,NaN,Web,05/10/2019,In progress,Yes,NaN,3238275
1,05/10/2019,Checking or savings account,Other banking product or service,Managing an account,Deposits and withdrawals,NaN,NaN,BOEING EMPLOYEES CREDIT UNION,WA,98204,NaN,NaN,Referral,05/10/2019,Closed with explanation,Yes,NaN,3238228
2,05/10/2019,Debt collection,Payday loan debt,Communication tactics,Frequent or repeated calls,NaN,NaN,CURO Intermediate Holdings,TX,751XX,NaN,NaN,Web,05/10/2019,Closed with explanation,Yes,NaN,3237964
3,05/10/2019,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Old information reappears or never goes away,NaN,NaN,Ad Astra Recovery Services Inc,LA,708XX,NaN,NaN,Web,05/10/2019,Closed with explanation,Yes,NaN,3238479
4,05/10/2019,Checking or savings account,Checking account,Managing an account,Banking errors,NaN,NaN,ALLY FINANCIAL INC.,AZ,85205,NaN,NaN,Postal mail,05/10/2019,In progress,Yes,NaN,3238460

In [112]:
data.pop('Sub-product')

data.pop('Date received')

data.pop('Timely response?')

data.pop('Company response to consumer')

data.pop('Date sent to company')

data.pop('Submitted via')

data.pop('Consumer consent provided?')

data.pop('Tags')

data.pop('Company public response')

data.pop('Consumer complaint narrative')

data.pop('Sub-issue')

data.pop('Consumer disputed?')

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
1282350     No
1282351     No
1282352     No
1282353     No
1282354     No
Name: Consumer disputed?, Length: 1282355, dtype: object

In [113]:
print("\n\nCount of NaN values in each column:\n ",data.isna().sum())
data.head()

Count of NaN values in each column:
  Product              0
Issue                0
Company              0
State            19400
ZIP code        115298
Complaint ID         0
dtype: int64

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,"Credit reporting, credit repair services, or o...",Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,85205,3238460

In [114]:
data = data.dropna(how='any',axis=0)

In [115]:
print("\n\nCount of NaN values in each column:\n ",data.isna().sum())
data.head()

Count of NaN values in each column:
  Product         0
Issue           0
Company         0
State           0
ZIP code        0
Complaint ID    0
dtype: int64

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,"Credit reporting, credit repair services, or o...",Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,85205,3238460

In [116]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\zerha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\zerha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [118]:
def remove_punction_and_stopwords(msg):
   stop_words=list(stopwords.words('english'))
   word_tokens = word_tokenize(msg)
   filtered_words = [w for w in msg if w not in word_tokens and w not in string.punctuation]
   remove_punctuation_sentence = ''.join(filtered_words)

   remove_punctuation_sentence=remove_punctuation_sentence.split()
   for word in remove_punctuation_sentence:
      flag=stop_words.count(word)
      if flag == 0:
         continue
      flag=0
      remove_punctuation_sentence.remove(word)
   new_sentence = ' '.join(remove_punctuation_sentence)
   return new_sentence

In [119]:
def remove_stopwords(sentence):
    sentence=sentence.split()
    stop_words=list(stopwords.words('english'))
    stop_words.append("can't")
    for word in sentence:
        flag=stop_words.count(word)
        if flag == 0:
            continue
        flag=0
        sentence.remove(word)
    new_sentence = ' '.join(sentence)
    return new_sentence

In [120]:
def remove_punction_and_stopwords(sentence):
    
    new_sentence=remove_stopwords(sentence)

    word_tokens = word_tokenize(new_sentence)
    filtered_words = [w for w in new_sentence if w not in word_tokens and w not in string.punctuation]
    remove_punctuation_sentence = ''.join(filtered_words)

    remove_punctuation_sentence_and_stopwords = remove_stopwords(remove_punctuation_sentence)

    return remove_punctuation_sentence_and_stopwords

In [121]:
X = "Credit reporting, or, services with personal can't reports"

print(remove_punction_and_stopwords(X))

Credit reporting services personal reports

In [104]:
data['Product']=data['Product'].apply(remove_punction_and_stopwords)

C:\Users\zerha\AppData\Local\Temp\ipykernel_11360\453546477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Product']=data['Product'].apply(remove_punction_and_stopwords)

In [105]:
data['Issue']=data['Issue'].apply(remove_punction_and_stopwords)

C:\Users\zerha\AppData\Local\Temp\ipykernel_11360\1466080113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Issue']=data['Issue'].apply(remove_punction_and_stopwords)

In [106]:
data.head()

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking savings account,Managing account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking savings account,Managing account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,Credit reporting credit repair services person...,Incorrect information report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking savings account,Managing account,ALLY FINANCIAL INC.,AZ,85205,3238460

In [108]:
data.to_csv("~/Documents/GitHub/KOU-Multithreading-YazLab2/src/data_set/finalData.csv")