In [25]:
import pandas as pd

In [26]:
data= pd.read_csv("~/Documents/GitHub/KOU-Multithreading-YazLab2/src/data_set/originalData.csv")
data.head()

C:\Users\hkf_4\AppData\Local\Temp\ipykernel_23376\4063515088.py:1: DtypeWarning: Columns (4,5,6,11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv("~/Documents/GitHub/KOU-Multithreading-YazLab2/src/data_set/originalData.csv")

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,05/10/2019,Checking or savings account,Checking account,Managing an account,Problem using a debit or ATM card,NaN,NaN,NAVY FEDERAL CREDIT UNION,FL,328XX,Older American,NaN,Web,05/10/2019,In progress,Yes,NaN,3238275
1,05/10/2019,Checking or savings account,Other banking product or service,Managing an account,Deposits and withdrawals,NaN,NaN,BOEING EMPLOYEES CREDIT UNION,WA,98204,NaN,NaN,Referral,05/10/2019,Closed with explanation,Yes,NaN,3238228
2,05/10/2019,Debt collection,Payday loan debt,Communication tactics,Frequent or repeated calls,NaN,NaN,CURO Intermediate Holdings,TX,751XX,NaN,NaN,Web,05/10/2019,Closed with explanation,Yes,NaN,3237964
3,05/10/2019,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Old information reappears or never goes away,NaN,NaN,Ad Astra Recovery Services Inc,LA,708XX,NaN,NaN,Web,05/10/2019,Closed with explanation,Yes,NaN,3238479
4,05/10/2019,Checking or savings account,Checking account,Managing an account,Banking errors,NaN,NaN,ALLY FINANCIAL INC.,AZ,85205,NaN,NaN,Postal mail,05/10/2019,In progress,Yes,NaN,3238460

In [27]:
data.pop('Sub-product')

data.pop('Date received')

data.pop('Timely response?')

data.pop('Company response to consumer')

data.pop('Date sent to company')

data.pop('Submitted via')

data.pop('Consumer consent provided?')

data.pop('Tags')

data.pop('Company public response')

data.pop('Consumer complaint narrative')

data.pop('Sub-issue')

data.pop('Consumer disputed?')

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
1282350     No
1282351     No
1282352     No
1282353     No
1282354     No
Name: Consumer disputed?, Length: 1282355, dtype: object

In [28]:
print("\n\nCount of NaN values in each column:\n ",data.isna().sum())
data.head()

Count of NaN values in each column:
  Product              0
Issue                0
Company              0
State            19400
ZIP code        115298
Complaint ID         0
dtype: int64

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,"Credit reporting, credit repair services, or o...",Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,85205,3238460

In [29]:
data = data.dropna(how='any',axis=0)

In [30]:
print("\n\nCount of NaN values in each column:\n ",data.isna().sum())
data.head()

Count of NaN values in each column:
  Product         0
Issue           0
Company         0
State           0
ZIP code        0
Complaint ID    0
dtype: int64

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,"Credit reporting, credit repair services, or o...",Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,85205,3238460

In [31]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hkf_4\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hkf_4\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [32]:
import requests
stopwords_list = requests.get("https://gist.githubusercontent.com/rg089/35e00abf8941d72d419224cfd5b5925d/raw/12d899b70156fd0041fa9778d657330b024b959c/stopwords.txt").content
stopwords = set(stopwords_list.decode().splitlines())
print(stopwords)

{'non', 'all', 'home', "i'd", 'example', 'therefore', 'b', 'concerning', 'df', 'sz', 'meanwhile', 'ab', 'cj', 'lest', 'over', 'ed', 'think', 'ms', 'might', 'hereafter', 'bn', 'different', 'elsewhere', 'r', 'aside', 'also', 'c', 'cx', 're', 'anymore', 'know', 'ought', 'theres', "who's", 'selves', 'bottom', 'pas', '6b', 'sup', 'while', 'none', 'uses', '0s', 'specifying', 'meantime', 'probably', 'cannot', 'beginning', 'little', 'q', 'thanx', 'want', 'but', 'past', 'f2', 'for', 'anything', 'significantly', 'beforehand', 'cry', 'relatively', 'oh', 'ts', 'course', 'importance', 'bu', 'becoming', 'thousand', 'sm', 'o', 'wouldnt', 'yj', 'affected', 'somehow', 'ow', 'full', 'on', 'b1', 'later', 'xs', 'ref', 'whither', 'anywhere', "we're", 'unlikely', 'xj', 'far', 'aj', "mustn't", 'each', 'namely', 'oo', 'maybe', 'similarly', 'even', 'someone', 'weren', 'yours', 'these', 'gone', 'actually', 'xx', 'e2', 'jt', "haven't", 'accordingly', 'hh', 'ninety', 'then', 'ia', 'largely', 'throughout', 'once', 'ee', '0o', 'fr', 'amongst', 'neither', 'tn', 'gotten', 'uj', 'wasn', 'cg', 'par', 'they', 'able', 'seven', '3b', 'fify', 'because', 'bx', 'usefulness', 'bc', 'hundred', 'eo', 'begins', 'whod', 'downwards', 'plus', 'without', 'themselves', 'furthermore', 'seemed', 'near', 'po', 'thered', 'cm', 'such', 'co', 'sure', "a's", 'we', 'adj', 'zero', 'eleven', 'xk', 'eighty', 'cf', 'pages', 'substantially', 'if', 'us', 'whereafter', 'zi', 'widely', 'brief', "won't", 'es', 'appear', 'insofar', 'came', 'here', 'pr', 'says', 'wherever', 'er', 'her', 'rc', 'towards', 'pe', 'believe', 'present', 'mill', 'somewhere', 'thickv', 'due', 'ups', "what'll", 'gave', 'nj', "when's", "wouldn't", 'e', 'wherein', 'a2', 'empty', 'keeps', 'whatever', 'many', 'placed', "you'd", 'noted', 'added', 'fifteen', 'him', 'though', 'hj', 'p1', "hadn't", 'me', 'our', 'anybody', 'have', 'og', 'become', 'two', 'wasnt', 'well', 'needs', 'exactly', 'est', 'needn', 'mine', 'xn', 'you', 'normally', 'other', "t's", 'rj', "doesn't", 'between', 'second', 'just', 'la', 'previously', 'cq', 'vs', 'mug', 't3', 'almost', 'pagecount', 'owing', 'sr', 'ax', 'gy', 'couldn', 'iv', 'km', 'vt', "can't", 'le', 'i6', 'became', 'detail', 'effect', "that've", 'whats', 'across', 'associated', 'anyway', 'aren', 'nonetheless', 'tb', 'was', 'inward', 'liked', 'always', 'com', 'oj', 'u201d', 'mo', 'who', 'found', 'pc', 'yr', 'ga', 'together', 'therere', 'fs', 'going', 'n2', 'dy', 'name', 'into', 'act', 'w', 'already', 'unlike', 'dj', 'following', 'others', 'he', 'at', 'like', 'ord', 'quickly', 'refs', 'l', 'vols', 'doesn', 'abst', 'py', 'xv', 'herein', 'js', 'via', 'ju', 'won', 'sometime', 'means', 'presumably', 'very', 'bs', 'gives', 'dt', 'regards', 'thence', 'reasonably', 'took', 'predominantly', 'stop', 'ni', 'xo', 'biol', 'are', 'mr', 'himself', 'significant', 'greetings', 'ff', "i've", 'next', 'obviously', 'comes', 'not', 'merely', 'ibid', 'really', 'jj', 'described', "i'll", 'where', 'indicated', 'approximately', 'iy', 'shed', 'considering', 'wheres', 'has', 'or', 'those', 'z', 'thereby', 'poorly', 'few', 'strongly', 'twice', 'un', 'i2', "there've", 'les', 'getting', 'world', 'thus', 'hadn', 'ask', 'ch', 'with', 'less', 'tell', 'another', 'only', 'respectively', 'hu', 'ej', 'what', 'whenever', 'nn', 'sp', 'mightn', 'corresponding', 'whereupon', 'fc', 'containing', 'she', 'above', 'four', 'some', 'rt', 'last', 'ten', 'truly', 'cs', 'ke', 'ih', 'ec', 'edu', 'available', 'cn', 'fj', 'million', 'oa', 'saw', 'nowhere', 'hardly', "we'll", 'ii', "i'm", 'however', 'p3', "she'll", 'yes', 'end', "there'll", "he'll", 'ba', 'will', "she'd", 'h', 'pl', "aren't", 'need', 'recent', 'move', 'di', 'index', 'keep', 'unto', 'xt', 'ca', 'ng', 'ever', 'cit', 'io', 'r2', 'theyre', 'youd', 'ij', 'contain', 'otherwise', 'p2', 'wa', 'anyways', 'ln', 'ig', 'ar', 'h2', 'i7', 'so', 'thanks', 'see', 'ct', 'mrs', 'specified', 'and', 'thou', 'moreover', 'given', 'ol', 'whose', 'du', 'get', 'hi', 'again', 'ours', 'perhaps', 'ix', 'tends', 'use', 'along', 'promptly', 'no', 'et', 'shes', 'rf', 'being', 'fl', 'hereby', 'tc', 'werent', 'same', "ain't", 'either', 'hence', 'mn', 'bd', 'ur', 'makes', "c'mon", 'm', "don't", 'seeing', 'come', 'hello', 'date', 'may', 'necessary', 'sl', 'oq', 'ti', 'didn', 'nr', 'qj', 'pp', 'haven', 'yt', 'obtained', 'now', 'sometimes', 'suggest', 'doing', 'vo', 'information', 'as', 'k', 'sj', "they're", 'p', 'behind', 'currently', "isn't", 'ou', 'ah', '3a', 'vol', 'ey', "he's", '3d', 'au', 'ex', 'own', 'useful', 'ok', 'rd', 'auth', 'dl', 'wed', 'yet', 'don', 'enough', 'make', 'qv', 'readily', "that'll", 'nt', 'ip', 'im', 'everyone', 'hasnt', "how's", 'it', 'immediate', 'indeed', 'ui', 'especially', 'wonder', 'itself', 'before', 'dp', 'ko', 'various', "they'll", 'done', 'despite', 'ph', 'sc', 'every', 'does', 'oc', 'ain', 'dr', "we've", 'ea', 'rn', 'nearly', 'cz', 'amoungst', 'below', 'hasn', 'lets', 'tq', 'afterwards', "c's", 'can', 'sensible', '6o', 'nevertheless', 'side', 'out', 'consider', 'research', "where's", 'wish', 'nothing', 'b2', 'everything', 'xl', 'ep', 'except', 'wo', 'shall', 'front', 'ac', 'latterly', 'ap', 'seriously', 'ds', 'let', 'than', 'cl', 'd', 'eu', 'az', 'gets', 'hereupon', 'sent', 'interest', 'hid', 'per', 'rm', 'new', 'never', 'pq', "weren't", 'words', 'inner', 'dx', 'in', 'uo', 'apart', "here's", 'pu', 'forth', 'specifically', 'appropriate', "hasn't", 'v', 'else', 'whoever', 'run', 'quite', 'allow', 'proud', 'regardless', 'look', 'everybody', "that's", 'lr', 'help', 'provides', 'sincere', 'thorough', 'thats', 'mg', 'well-b', 'ef', 'om', 'recently', 'since', 'did', 'asking', 'tx', 'am', 'g', 'i8', 'si', 'e3', 'saying', "it's", "needn't", 'would', 'had', 'wont', 'shouldn', 'whom', 'ss', 'thoroughly', 'ue', 'find', 'off', 'zz', 'awfully', 'successfully', 'y', 'av', 'novel', 'shan', 'somebody', 'back', 'during', 'c2', 'contains', 'give', 's2', 'upon', 'ft', 'tt', 'whomever', 'ru', 'te', 'third', 'beginnings', 'sn', 'a1', 'this', 'n', 'tv', 'noone', 'ie', 'gr', 'five', 'eg', 'somethan', 'thank', 'by', "wasn't", 've', 'sd', 'mu', 'couldnt', 'looking', 'pm', 'looks', 'c1', 'hither', 'too', 'could', 'having', 'after', 'therein', 'way', 'hed', 'pt', 'rh', 'vj', 'etc', 'both', 'il', 'old', 'tries', 'everywhere', 'their', 'fi', 'slightly', 'okay', 'pf', 'thoughh', 'arise', 'tr', 'under', 'up', 'rs', 'affecting', 'whether', 'a4', 'con', 'na', 'pk', 'resulting', 'were', 'ho', 'several', 'fifth', 'thereof', 'ay', 'formerly', 'willing', 'ob', 'particularly', 'indicates', 'been', 'describe', 'show', 'vq', 'better', 'h3', 'resulted', 'youre', 'br', 'top', "we'd", 'go', 'ae', 'fo', 'nc', 'lj', 'trying', 'down', 'rr', 'sixty', 'xi', 'ls', 'onto', 'something', 'ao', 'apparently', 'heres', 'right', 'ot', 'tip', 'clearly', 'thereto', 'whereas', 'ignored', 'wi', 'within', 'x1', 'put', 'volumtype', "let's", 'giving', 'st', 'throug', 'anyone', 'a3', 'there', 'results', 'x2', 'ra', 'indicate', 'thereupon', 'y2', 'knows', 'hr', "you're", "she's", 'besides', 'them', 'uk', 'former', 'certain', 'a', 'about', 'primarily', 'se', 'seems', 'bl', 'used', 'accordance', 'cy', 'certainly', 'beside', 'made', 'most', 'sf', 'take', 'em', 'dk', 't', 'vu', 'wants', 'ce', 'why', 'further', 'often', 'six', 'bj', 'got', 'obtain', 'please', 'likely', "should've", 'somewhat', 'specify', 'through', 'til', 'isn', 'mostly', 'pn', 'research-articl', 'um', 'possibly', 'hs', 'mean', 'oz', 'xf', 'ci', 'bk', 'ne', 'gj', 'j', 'rl', 'rq', "why's", 'from', 'briefly', 'cause', 'happens', 'tl', 'cu', 'immediately', 'seen', 'definitely', 'herself', 'tf', 'kept', 'aw', 'more', 'nd', 'ns', 'os', 'an', 'which', 'showns', "didn't", 'how', 'ei', 'x', "they've", 'three', 'goes', "there's", "what's", 'becomes', 'away', 'de', 'ib', 'll', 'best', 'ro', 'shows', 't2', 'i3', 'thereafter', "shouldn't", 'much', 'viz', 'mainly', "you've", 'regarding', 'www', 'possible', 'ri', 'thin', 'your', 'be', 'still', 'nine', 'appreciate', 'among', 'say', 'lo', 'amount', 'hes', 'is', 'one', "mightn't", 'bt', 'ut', 'its', 'affects', 'his', 'ag', 'hy', 'cv', 'va', 'b3', 'ending', 'whereby', 'arent', 's', 'th', 'sub', 'alone', 'pi', 'whos', 'nor', 'da', 'line', 'ox', 'sy', 'http', 'que', 'announce', 'nos', 'jr', 'until', 'cc', 'whole', 'vd', 'cant', 'myself', 'page', 'secondly', 'td', 'tj', 'tp', 'ir', 'i', 'fill', 'usefully', 'usually', 'value', 'pd', 'yourselves', 'mt', 'od', 'af', "it'd", 'ml', 'f', 't1', 'itd', 'seem', 'ran', 'changes', 'hers', 'l2', 'mustn', 'twenty', 'unfortunately', 'dd', 'invention', 'd2', 'eq', 'necessarily', 'sa', 'potentially', 'went', 'seeming', 'ys', 'ps', 'oi', 'latter', 'howbeit', 'using', 'any', 'should', 'el', 'tried', 'rather', 'thru', 'must', 'particular', 'pj', 'cp', 'inc', 'serious', 'bp', 'shown', 'soon', 'ry', 'unless', 'dc', "you'll", 'id', 'beyond', 'ev', "couldn't", 'taken', 'whim', 'hopefully', 'los', 'taking', 'whence', 'similar', 'toward', 'gl', 'overall', 'sq', 'inasmuch', 'fu', 'the', 'i4', 'cr', 'wouldn', 'nl', 'first', 'part', 'related', 'try', 'twelve', 'gs', 'tm', 'ones', 'welcome', 'sec', 'showed', 'u', 'ourselves', 'least', 'follows', 'sufficiently', 'do', 'according', 'begin', 'fix', 'followed', 'that', 'ad', 'when', 'around', 'ic', 'causes', 'section', 'against', 'said', 'self', "shan't", 'consequently', 'iz', 'known', 'et-al', "it'll", 'my', 'qu', 'system', 'c3', 'x3', 'forty', 'theirs', 'eight', "he'd", 'sorry', 'to', 'op', 'fy', "who'll", 'bi', 'cd', 'allows', 'gi', 'kg', 'miss', 'fire', 'rv', 'lf', 'instead', 'ma', 'nobody', 'of', 'yl', 'yourself', 'important', 'lc', 'ltd', 'bill', 'anyhow', 'nay', 'fa', 'iq', 'ny', 'theyd', 'lt', "they'd", 'al', 'kj', 'outside', 'en', 'omitted', 'lb', 'fn', 'ge', 'entirely', 'call', 'm2', 'although', 'lately'}

In [33]:
data.head()

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,"Credit reporting, credit repair services, or o...",Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,85205,3238460

In [35]:
def remove_punction_and_stopwords(msg):
   word_tokens = word_tokenize(msg)
   filtered_words = [w for w in msg if w not in word_tokens and w not in string.punctuation]
   new_sentence = ''.join(filtered_words)
   return new_sentence



data['Product']=data['Product'].apply(remove_punction_and_stopwords)
data['Issue']=data['Issue'].apply(remove_punction_and_stopwords)
data['Company']=data['Company'].apply(remove_punction_and_stopwords)

In [36]:
data.head()

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,Credit reporting credit repair services or oth...,Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC,AZ,85205,3238460

In [38]:
data.to_csv("~/Documents/GitHub/KOU-Multithreading-YazLab2/src/data_set/middleData.csv")

In [57]:
cd "C:/Users/hkf_4/Documents/GitHub/KOU-Multithreading-YazLab2/src/data_set"

C:\Users\hkf_4\Documents\GitHub\KOU-Multithreading-YazLab2\src\data_set

In [61]:
def nlkt(val):
    val=repr(val)
    clean_txt = [word for word in val.split() if word.lower() not in stopwords.words('english')]
    nopunc = [char for char in str(clean_txt) if char not in string.punctuation]
    nonum = [char for char in nopunc if not char.isdigit()]
    words_string = ''.join(nonum)
    return words_string


data['Anylize_Text']= data['Product'].astype(str) + ' ' + data['Issue'].astype(str) + ' ' + data['Company'].astype(str)

finallist =[]

for eachlist in data['Anylize_Text']:
    z = nlkt(eachlist)
    finallist.append(z)

In [62]:
data.head()

,Unnamed: 0,Product,Issue,Company,State,ZIP code,Complaint ID,Anylize_Text
0,0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275,Checking or savings account Managing an accoun...
1,1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228,Checking or savings account Managing an accoun...
2,2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964,Debt collection Communication tactics CURO Int...
3,3,Credit reporting credit repair services or oth...,Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479,Credit reporting credit repair services or oth...
4,4,Checking or savings account,Managing an account,ALLY FINANCIAL INC,AZ,85205,3238460,Checking or savings account Managing an accoun...

In [37]:
data.last_valid_index

<bound method NDFrame.last_valid_index of                                                    Product  \
0                              Checking or savings account
1                              Checking or savings account
2                                          Debt collection
3        Credit reporting credit repair services or oth...
4                              Checking or savings account
...                                                    ...
1282350                                        Credit card
1282351                                           Mortgage
1282352                                        Credit card
1282353                                           Mortgage
1282354                                        Credit card

                                          Issue  \
0                           Managing an account
1                           Managing an account
2                         Communication tactics
3          Incorrect information on your report
4                           Managing an account
...                                         ...
1282350                    Credit determination
1282351  Loan modificationcollectionforeclosure
1282352                        Billing disputes
1282353  Loan servicing payments escrow account
1282354                        Billing disputes

                                      Company State ZIP code  Complaint ID
0                   NAVY FEDERAL CREDIT UNION    FL    328XX       3238275
1               BOEING EMPLOYEES CREDIT UNION    WA    98204       3238228
2                  CURO Intermediate Holdings    TX    751XX       3237964
3              Ad Astra Recovery Services Inc    LA    708XX       3238479
4                          ALLY FINANCIAL INC    AZ    85205       3238460
...                                       ...   ...      ...           ...
1282350                           CITIBANK NA    MO    63301          2396
1282351  BANK OF AMERICA NATIONAL ASSOCIATION    OH    45248          2323
1282352                    JPMORGAN CHASE  CO    OH    43207          2126
1282353  BANK OF AMERICA NATIONAL ASSOCIATION    CO    80920          2315
1282354                           CITIBANK NA    WA    98275          2329

[1167023 rows x 6 columns]>

In [ ]:
data.to_csv("~/Documents/GitHub/KOU-Multithreading-YazLab2/src/data_set/finalData.csv")